@import "./../base/index.less";

.my-order {
  width: 100%;
  padding-top: 44px;
  padding-bottom: 52px;
  float: left;
  background: @colorF8;

  .tabs {
    width: 100%;
    height: 36px;
    line-height: 36px;
    float: left;
    display: flex;
    background: @colorEF;

    .tab {
      flex: 1;
      text-align: center;
      font-size: 14px;
      color: @grayColor;

      span {
        line-height: 36px;
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          width: 100%;
          height: 2px;
          background: @titleColor;
          position: absolute;
          bottom: 0;
          left: 0;
          display: none;
        }
      }

      &.active {
        color: @titleColor;

        span:after {
          display: block;
        }
      }
    }
  }


  .container {
    .content {
      .empty {
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 110px;
        margin-bottom: 85px;

        .icon {
          width: 99px;
          height: 82px;
        }

        .text {
          font-size: 14px;
          color: @grayColor;
          line-height: 16px;

          .t1 {
            font-size: 18px;
            color: @color4;
            line-height: 25px;
            margin-top: 37px;
            margin-bottom: 6px;
          }
        }
      }

      .may-like {
        .title {
          width: 100%;
          position: relative;
          float: left;
          text-align: center;

          span {
            position: relative;
            height: 24px;
            line-height: 26px;
            font-size: 14px;
            display: inline-block;
            margin-left: 24px;
            &:before {
              content: '';
              width: 24px;
              height: 24px;
              .icon24('../../images/my/may-like@3x.png');
              position: absolute;
              top: 0;
              left: -24px;
            }
          }
        }

        .list {
          width: 100%;
          float: left;
          margin-top: 13px;
          .card-list {
            width: 170px;
            margin-left: 12px;
            margin-bottom: 12px;
            .title {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
