@import '../base/index.less';


.backBg(@name){
  background: url('./../../images/icons/@{name}@3x.png') no-repeat 0 0;
}

.icon {
  float: left;

  .num {
    height: 20px;
    line-height: 21px;
    float: left;
    margin-left: 2px;
  }

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 20px 20px !important;
    float: left;
  }

  //分享-灰色图标
  &.share {
    &:before {
      .backBg('share-gray');
    }
  }

  //评论-灰色图标
  &.comment {
    &:before {
      .backBg('comment-gray');
      margin-left: 10px;
    }
  }

  //分享-喜欢图标
  &.like {
    &:before {
      .backBg('like-gray');
    }
  }

  //灰色图标
  &.gray {
    .num {
      color: @titleColor;
    }

    //收藏
    &.collection {
      &:before {
        .backBg('icon-collection-gray');
      }
    }

    //浏览
    &.view {
      &:before {
        .backBg('icon-like-gray');
      }
    }
  }


  //白色图标
  &.white {
    .num {
      color: @white;
    }

    //收藏
    &.collection {
      &:before {
        .backBg('icon-collection-white');
      }
    }

    //喜欢
    &.like {
      &:before {
        .backBg('icon-like-white');
      }
    }

    //浏览
    &.view {
      &:before {
        .backBg('icon-view-white');
      }
    }
  }


}
